# Node & PHP dependencies
/node_modules
/vendor

# Environment & config
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/auth.json

# IDE & system files
/.idea
/.vscode
/.fleet
/.zed
.DS_Store
Thumbs.db

# Laravel build & public
/public/build
/public/hot
/public/storage

# Storage (ignore all except app/public)
/storage/*
!/storage/app
!/storage/app/public
/storage/*.key
/storage/pail
/storage/debugbar

# Database (keep migrations, seeders, factories)
/database/database.sqlite

# Nova (if using Laravel Nova)
/.nova

# Misc
Homestead.json
Homestead.yaml
*.log
